{:port 5001
 :version #include "version.edn"
 :site-name "ISN Site"
 :user "signals-provider.my-example.xyz"
 :rel-root #join ["https://" #ref [:user]]
 :site-root "http://localhost:5001"
 :rel-me-github "https://domain.tld/some-path"
 :authcns #profile {
   :test-success {
     :test-1.info-sharing.network #{
       #ref [:user]
       "acme.my-example.xyz"
       "test-isn-1.my-example.xyz"
     }
     :test-2.info-sharing.network #{
       #ref [:user]
       "acme.my-example.xyz"
       "sample-isn-2.my-example.xyz"
     }
   }
   :test-failure {
     :test-1.info-sharing.network #{
       ;#ref [:user]
       "acme.my-example.xyz"
       "test-isn-1.my-example.xyz"
     }
     :test-2.info-sharing.network #{
       "acme.my-example.xyz"
       "sample-isn-2.my-example.xyz"
     }
   }
 }
 :isns {
        :test-1.info-sharing.network {
                                     :details {
                                               :name "ISN BTD 1"
                                               :purpose "Exchanging pre-notification and related compliance signals"
}
                                     :signals {
                                               :pre-notification {
                                                                  :description "Indicators about incoming goods movements"
                                                                  :list-payload-keys [:cnCode :countryOfOrigin]
                                                                  :expiry-days-from-now 14
                                                                  }
                                               }
                                     }
        :test-2.info-sharing.network {
                                     :details {
                                               :name "BTD 2 - EoT evaluation ISN"
                                               :purpose "Improving food safety via lab sample signals and feedback loops"
                                               }
                                     :signals {
                                               :lab-sample-initial-unsatisfactory-industry {
                                                                                            :description "Industry lab samples"
                                                                                            :list-payload-keys [:cnCode :countryOfOrigin]
                                                                                            :expiry-days-from-now 7
                                                                                            }
                                               }
                                     }
        }
 :microsub-uri "https://your.domain.tld/microsub/id"
 :show-eta true
 :site-type "participant"
 :indieauth-email "your@mail.com"
 :indieauth-token-uri "https://tokens.indieauth.com/token"
 :indieauth-state "blurb"
 :indielogin-uri "https://some-indielogin.tld/auth"
 :redirect-uri "/"
 :data-path "/home/r0ss/.isn/isn-1/site-pha/data"
 :environment "dev"
 :dev-site #join ["https://" #ref [:user]]
 :support-email "support@email.com"
 :csp-settings {
   :connect-src #ref [:site-root]
   :frame-ancestors #ref [:site-root]
   :font-src #ref [:site-root]
   :form-action #ref [:site-root]
   :frame-src #ref [:site-root]
   :img-src #ref [:site-root]
   :manifest-src #ref [:site-root]
   :media-src #ref [:site-root]
   :object-src #ref [:site-root]
   :style-src #ref [:site-root]
   :script-src #ref [:site-root]}
 }
