{
 :version #include "version.edn"
 :rel-root #join ["https://" #ref [:user]]
 :site-root #ref [:rel-root]
 :authcns {
 }
 :isns #merge [#include "isn-btd-2/isn-btd-2.edn"]
 :microsub-uri "https://your.domain.tld/microsub/id"
 :show-eta true
 :site-type "participant"
 :indieauth-email "your@mail.com"
 :indieauth-token-uri "https://tokens.indieauth.com/token"
 :indieauth-state "setAStateHere"
 :indielogin-uri "https://some-indielogin.tld/auth"
 :redirect-uri "/"
 :environment "production"
 :dev-site "https://signals-provider.my-example.xyz"
 :support-email "support@email.com"
 :csp-settings {
   :connect-src #ref [:site-root]
   :frame-ancestors #ref [:site-root]
   :font-src #ref [:site-root]
   ; :form-action #ref [:site-root] ; REVIEW: this causes problems with the default configuration
   :frame-src #ref [:site-root]
   :img-src #ref [:site-root]
   :manifest-src #ref [:site-root]
   :media-src #ref [:site-root]
   :object-src #ref [:site-root]
   :style-src #ref [:site-root]
   :script-src #ref [:site-root]}
 }
