[Unit]
Description=logical-name-for-your-service

[Service]
WorkingDirectory=/directory/isn-comp/is-installed-in
ExecStart=/usr/local/bin/clj -X app.core/-main
TimeoutSec=300

[Install]
WantedBy=multi-user.target